<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title" routerLink="/rents">🏠 Rent Management</span>
  <nav>
    @if(isLoggedIn) {
    <a mat-button routerLink="/rents" class="ml-4">Rent List</a>
    <a mat-button routerLink="/property-types">Manage Property Types</a>
    <a mat-button (click)="logout()" >Logout</a>
    } @else {
    <a mat-button routerLink="/login" >Login</a>
    <a mat-button routerLink="/register">Register</a>
    }
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>